body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #00796b;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #004d40;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #00796b;
}
.cross {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    font-size: 18px;
}